.container {
  display: flex;
  align-items: center;
}

.header {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 100px;
}

.inner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0;
}

.addToCart,
.edit {
  width: 100px;
  padding: 8px 16px;
  /* margin-right: 10px; */
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.addToCart {
  background-color: #5048e5;
  color: white;
  border: none;
}

.edit {
  background-color: white;
  color: black;
  border: 1px solid #cccccc;
}

.addToCart:hover,
.edit:hover {
  background-color: #2980b9;
}

.productImg_container {
  width: 100%;
  padding: 12px;
}

.productDesFirst {
  font-size: small;
  color: #6b7280;
}
